<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!--CSS Section-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto Mono">
  </head>
  <body>

    <!--Main Navigation-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Portfolio</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about"><i class="fa-solid fa-info"></i> About </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects"><i class="fa-regular fa-folder-open"></i> Projects </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services"><i class="fa-solid fa-bell-concierge"></i> Services </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact"><i class="fa-solid fa-phone"></i> Contact </a>
            </li>
      </div>
    </nav>

    <!--Main Content-->

    <main class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold"><%= title %></h1>
      </div>
    </main>

    <!--Contact Form-->

    <div class="contactForm">
        <form>
      
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
            <p></p>
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
            <p></p>
          <label for="country">Country</label>
          <p></p>
          <select id="country" name="country">
            <option value="canada">Canada</option>
            <option value="usa">USA</option>
          </select>
          <p></p>
          <label for="subject">Subject</label>
            <p></p>
          <textarea id="subject" name="subject" placeholder="Please Let Me Know How I Can Help!" style="height:200px"></textarea>
            <p></p>
            <p></p>
          <input type="submit" value="Submit">
      
        </form>
      </div>

    <!--End of Contact Form-->

    <!--Bottom Navigation-->

    <footer>
      <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container-fluid">
          <h6 class="display-9 navbar-text">&copy; Copyright 2022 All Rights Reserved.</h6>
        </div>
      </nav>
    </footer>

    <!--Script Section-->

    <script src="/scripts/app.js"></script>
    <script src="/jquery/dist/jquery.im.js"></script>
    <script src="/bootstrap/dist/css/bootstrap.min.js"></script>
  </body>
</html>
  