<!-- Assignment 2 //  Zachary Havers // 301202845  // 2022-10-24 --> 

    <!--Header-->
    <%- include('partials/header.ejs') %>

    <!--Main Navigation-->
    <%- include('partials/nav.ejs') %>

    <!--About Page Content-->

    <div class="aboutBlock1">
      <img src="/images/WebDevIcon4.png" alt="Student Icon" style="width:30%">
      <div class="text-block">
        <u><h2>What Motivates Me</h2></u>
        <p>I love technology, Ive always been open to learning about new technology since I was a child. My brother 
            is an avid programmer as well and introduced me at a young age to computers and how they work. It is not
            until I grew older when I knew that I wanted to gain the experience and knowledge to become a proffesional software enginneer.
        </p>
      </div>
    </div>
    <div class="aboutBlock2">
      <img src="/images/studentIcon.png" alt="Student Icon" style="width:30%">
      <div class="text-block">
        <u><h2>My Education</h2></u>
        <p>This is my Third Semester at Centennial College. I am enrolled in the Software Engeneering Technology Program.
            I have gained basic knowledge of HTML, CSS, C#, Java, JavaScript, Python, and SQL and PSQL. I am in the 3 year program. I hope to 
            graduate next year !
        </p>
      </div>
    </div>

    <!--Bottom Navigation-->
    <%- include('partials/footer.ejs') %>
