<!-- Assignment 2 //  Zachary Havers // 301202845  // 2022-10-24 --> 

    <!--Header-->
    <%- include('partials/header.ejs') %>

    <!--Main Navigation-->
    <%- include('partials/nav.ejs') %>

    <!--Home Page Content-->

    <div class="introBlock">
      <img src="/images/ProfilePic.png">
      <div class="text-block">
        <u><h2>Welcome To My Portfolio!</h2></u>
        <p>Hello, My name is Zachary Havers. I am a student at Centennial College and this is my portfolio Website
          For Assignment #1. Please take a look around, using the navigation above you should be able to 
          switch between 5 pages. Have Fun !
        </p>
      </div>
    </div>
    <div class="saleBlock1">
      <img src="/images/WebDevIcon2.png" alt="Web Development Icon" style="width:35%">
      <div class="text-block">
        <u><h2>Looking For My Education Background ?</h2></u>
        <p>Head on over to my about page to find out more about me and my educational background !</p>
      </div>
    </div>
    <div class="saleBlock2">
      <img src="/images/WebDevIcon3.png" alt="Web Development Icon" style="width:35%">
      <div class="text-block">
        <u><h2>Want To See My Work Or What Services I Offer?</h2></u>
        <p>You can find more about past projects I have completed in my Projects page. Also Head over to 
          My Services page to learn more about what languages I code in.
        </p>
      </div>
    </div>

    <!--Bottom Navigation-->
    <%- include('partials/footer.ejs') %>

