<!-- Assignment 2 //  Zachary Havers // 301202845  // 2022-10-24 --> 

    <!--Header-->
    <%- include('partials/header.ejs') %>

    <!--Main Navigation-->
    <%- include('partials/nav.ejs') %>

    <!--Projects Gallery-->

    <div class="Project1">
        <img class="ProjIm1" src="/images/SQL.png" alt="SQL" style="width:20%;">
        <div class="text-block">
          <u><h2>SQL: Creating A Database For A Book Store</h2></u>
          <p>For my final SQL Project I was tasked with  creating a database for a fictional bookstore.
            This involved creating a database from sqratch making tables, as well as using primary and foriegn keys. 
            Then I needed to source information from this database using select statements, as well as joining
            tables.
          </p>
        </div>
      </div>

    <div class="Project2">
        <img class="ProjIm2" src="/images/cSharp.png" alt="C#" style="width:20%;">
        <div class="text-block">
          <u><h2>C#: Creating And Order Entry System For A Resturant</h2></u>
          <p>My final C# project included creating a library which was made up of many classes with constructors and methods
            which enabled me to create a windows form application designed to take order entries for a fictional resturant.
          </p>
        </div>
    </div>

    <div class="Project3">
        <img class="ProjIm3" src="/images/WebDev.png" alt="Web Development" style="width: 20%;">
        <div class="text-block">
          <u><h2>JavaScript: Using JavaScript To Make A Functional Travel Agent Website</h2></u>
          <p>For My Final JavaScript assignment I was tasked with creating a functional travel destination website.
            On this website you could select your destination or destinations and view pricing and details about the trip.
          </p>
        </div>
    </div>

    <!--Bottom Navigation-->
    <%- include('partials/footer.ejs') %>
