<!-- Assignment 2 //  Zachary Havers // 301202845  // 2022-10-24 --> 

    <!--Header-->
    <%- include('partials/header.ejs') %>

    <!--Main Navigation-->
    <%- include('partials/nav.ejs') %>

    <!--Services-->

    <div class="Service1">
        <img class="ServIm1" src="/images/WebDev.png" alt="Web Development" style="width:20%;">
        <div class="text-block1">
          <u><h2>Web Development</h2></u>
        </div>
      </div>

    <div class="Service2">
        <img class="ServIm2" src="/images/cSharp.png" alt="C#" style="width:20%;">
        <div class="text-block2">
          <u><h2>C#</h2></u>
        </div>
    </div>

    <div class="Service3">
        <img class="ServIm3" src="/images/Python.png" alt="Python" style="width: 20%;">
        <div class="text-block3">
          <u><h2>Python</h2></u>
        </div>
    </div>

    <div class="Service4">
        <img class="ServIm4" src="/images/SQL.png" alt="SQL" style="width: 20%;">
        <div class="text-block4">
          <u><h2>SQL</h2></u>
        </div>
    </div>

    <!--Bottom Navigation-->
    <%- include('partials/footer.ejs') %>
